body{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: bold; */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.header{
    background-color: #1b2127;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header figure{
    margin: 0;
    padding: 0;
}

.menu{
    color: white;
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
    align-items: center;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 30px;
    font-size: 22px;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.hero{
    background-image: url(./img/portada_header.jpeg);
    background-size: 800px 400px;
    background-color: #1b2127;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

h1{
    font-size: 42px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
    padding: 50px 0 50px 200px;
}

h1 strong{
    color: #026fff;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project{
    background-color: white;
    display: flex;
    margin: 0 auto 50px auto;
    justify-content: center;
    box-shadow: 0px 0px 10px #888888;
}

.project-title{
    font-size: 30px;
}

.project-technologies{
    font-size: 24px;
    color: #056fff;
}

.project-date, .project-url{
    font-size: 20px;
}

.project-date small, .project-url small{
    color: gray;
    font-style: italic;
}

.project-date strong, .project-url strong{
    color: black;
    font-style: normal;
}

.project-description{
    font-size: 18px;
    font-style: italic;
}

.project-details{
    width: 400px;
    padding-left: 40px;
}

.project-imageContainer{
    
}

.footer{
    background-color: #1b2127;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer img{
    vertical-align: text-bottom;
}

.footer-span{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.75px;
    word-spacing: 2px;
    margin-top: 5px;
}

.footer-spanImg{
    font-weight: 600;
    font-size: 14px;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 250px -30px 250px;
}

.event{
    /* border: 2px solid red; */
    margin: 0 50px 50px 0;
    width: 480px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #f4fbff;
    box-shadow: 0px 0px 10px #888888;
}

.event-imageContainer{
    margin: 0px;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -50px;
    padding: 20px;
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.event-image{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-description{
    text-align: left;
    margin-bottom: 50px;
}

.event-url{
    color: #056fff;
    border: 2px solid;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.event-url:hover{
    background-color: #056fff;
    color: white;
}

.h2-title{
    font-size: 32px;
    color: #056fff;
    margin-left: 10px;
    margin-bottom: 30px;
}

.h2-title.special{
    margin-top: -10px;
}

.about-me{
    /* border: 2px solid red; */
}

.personal, .skills{
    /* border: 2px solid orange; */
    margin: 10px 200px;
    background-color: white;
    box-shadow: 0px 0px 10px #888888;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.personal-texts, .skills-title{
    padding: 10px 0 0 30px;
}

.personal-texts h3, .skills-title h3{
    font-size: 30px;
}

.personal-texts h4{
    font-size: 22px;
}

.personal-info{
    margin: 10px 200px 10px 200px;
    /* background-color: #f4fbff; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
}

.personal-img img{
    border-radius: 50%;
}

.personal-details{
    font-size: 18px;
    text-align: left;
    letter-spacing: .75px;
    word-spacing: 3px;
    padding: 20px;
}

.skills-all{
    display: flex;
    font-size: 24px;
    text-decoration: none;
    justify-content: center;
    margin-left: 50px;
}

.skills-design, .skills-programming{
    display: flex;
}

.skills-design{
    margin-right: 50px;
}

.skills-block{
    display: flex;
    flex-direction: column;
}

.skills-block a{
    color: #056fff;
    border: 2px solid;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.skills-block a:hover{
    background-color: #056fff;
    color: white;
}

.contact{
    background-color: #056fff;
    height: 160px;
    color: white;
    display: flex;
}

.submit{
    text-align: center;
    flex: 3 1 auto;
}

.email-me{
    text-align: center;
    flex: 4 1 auto;
}

.contact input{
    background: url('./svg/mail.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: white;
    padding: 5px 30px;
    width: 250px;
    height: 18px;
    border-style: solid;
    border-radius: 5px;
}

.contact button{
    background: none;
    margin-top: 10px;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

.contact button:hover{
    background-color: white;
    color: #056fff;
}

.social{
    text-align: center;
    flex: 3 1 auto;
}

.social-network{
    display: flex;
    justify-content: center;
}

.social-network-link{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.social-network-link.linkedin{
    background-image: url('./svg/linkedin.svg');
    padding-right: 30px;
}

.social-network-link.github{
    background-image: url('./svg/github.svg');
    padding-right: 30px;
}

.social-network-link.facebook{
    background-image: url('./svg/facebook.svg');
    padding-right: 30px;
}

.social-network-link.instagram{
    background-image: url('./svg/instagram.svg');
}

.h3-text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}

.h3-text.lwt{
    margin-bottom: 15px;
}

.email-hi{
    font-size: 30px;
    font-style: italic;
    color: white;
}